
body{
    background-color: white;
}
    
    
#product-section{
    background-color: white;
    
    padding:2%;
    margin-bottom: 1%;
    overflow: hidden;
}
#product-image{
    float:left;
    width:400px;
    height:600px;
}
#product-description{
    float:left;
    margin-left:10%;
    margin-top:5%;
}
#product-section h3,h4,h5,p{
    color:maroon;
}
#product-section p{
    margin-left: 0%;
}
input{
    width:2em;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form{
    margin-top:10%;
    
}
form button {
    background-color:maroon;
    color:white;
    border:none;
    font-size: 30px;
}
form button:hover{
    background-color: brown;
}
#review-section{
   background-color: white;
   border-top: 3px solid lightgray;
   padding-top: 2%;
}
#review-section h2{
    padding: 4%;
}
#addreview {
    margin-left: 4%;
    overflow: hidden;
}
#addreview form{
    margin-top:2%;
}
.star{
    font-size: 30px;
    color:lightgray;
    float: left;
}
.star:hover{
    color: gold;
    cursor: pointer;
}
textarea{
    border: 2px solid lightgray;
    border-radius: 5px;
    width:90%;
}
#review-button{
    float: none;
}
.reviews{
    margin: 4%;
    background-color:  #f2f2f2;
}
.review-rating{
    font-size: 30px;
    color:gold;
   
}
footer{
    background-color: maroon;
    width:100%;
    margin-left: 0%;
}

@media only screen and (max-width: 1000px) {
    #product-image,#product-section{
        float:none;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    #product-section{
       text-align: center;
        
    }
  }