body{
    background-color: white;
}

#back-to-shopping {

    padding:2% 4%;
    font-style: normal;

}
#back-to-shopping a {

    color:#FFD700;
    text-decoration: none;
    

}
#back-to-shopping a:hover{
    color:black;
}
#shopping-items{
 
    width:60%;
    float: left;
   
}
#shopping-items h2{
    color:maroon;
    margin-left: 4%;
    padding-bottom: 1%;
    text-align: center;
    width:75%
}
#description{
    margin:2%;
    color:maroon;
    overflow: hidden;
    padding-left:2%;
    padding-top: 1%;
    font-size: 20px;
    border-top: 2px solid maroon;
}
#product-description{
    float: left; 
}
#price-description{
    position: relative;
    display: block;
    float: right;
    right:200px;
}
#total-description{
    position: relative;
    display: block;
    float: right;
    
}

.product{
    margin:0% 2%;
    border-top: 2px solid maroon;
    height:220px;
}
.product img{
    margin-top:1%;
    margin-left: 1%;
    width:120px;
    height:200px;
    float:left;
}
.about-product{
    margin: 2%;
    float: left;
    color:maroon;
}
.about-product div,button{
    margin-top:3%
}
.about-product button{
    border:none;
    background-color: white;
    color:maroon;
}
.about-product button:hover{
    
    color:black;
}
.product-price{
    color:maroon;
    float:right;
    margin-right: 200px;
    height:100%;
    padding-top: 100px;
}
.product-total{
    color:maroon;
    float:right;
    margin-top: -118px;
    margin-left: 4000px;
    margin-right: 50px;

    
}
#summary{
    background-color: #f2f2f2;
    height:1000px;
    width:40%;
    float:right;
}
#summary h2{
    color:maroon;
    margin: 40px;
    padding:10px;
    border-bottom: 3px solid maroon;
}
#summary form,h5{
    margin-left: 40px;
    color:maroon;
    padding-bottom: 10px;
    width:85%;
    
}
#promo{
     border-bottom: 3px solid maroon;
}
#summary input[type=submit]{
    border:none;
    background-color: maroon;
    color:white;
    
}
#summary input[type=submit]:hover{
    background-color: black;
    
}
#summary h4,h6{
    margin-top: 20px;
    margin-bottom:30px;
    margin-left: 40px;
    color:maroon;
}
.total{
    float: right;
    margin-top:-50px;
    margin-right:10px;
    color:maroon;
}

#subtotal{
    border-bottom: 3px solid maroon;
    margin-left:40px;
    width:85%
}
#summary h3{
    color:maroon;
    margin-left: 40px;
    float:left;
    
}
#summary h5{
    float:left;
}
#checkout-submit{
    width:50%;
    float:right;
    padding: 10px;
    font-size: 20px;
    margin-right: 100px
}










