body{
    background-color: white;
    overflow: hidden;
}
footer{
    background-color: maroon;
    width: 100%;
    margin-left: 0%;
    position: absolute;
    bottom: 0;
}
#search-item{
    width:86%;
    margin: 0%;
}
#search-submit{
    width:12%;
    margin: 0%;
    border: none;
}

#filter{
    background-color: #f2f2f2;
    margin: 1%;
    width:20%;
    height: 300px;
    float: left;
    border-radius: 5px;
}
#results{
    background-color: #f2f2f2;
    margin: 1%;
    width: 75%;
    float: left;
    border-radius: 5px;
}
.result{
    border-top: 2px solid white;
    overflow: hidden;
    padding-bottom: 1%;
}
.result:hover{
    background-color: mistyrose;
    cursor: pointer;
}
.result img{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    height: 100px;
    width: 75px;
}
.result h5{
    margin-top: 2%;
    padding-left: 2%;
    color: maroon;
   
}
